<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xsi:schemaLocation="www.thymeleaf.org ">
<head lang="en">
    <meta http-equiv="ContentType" content="text/html";
          charset="UTF-8"/>
    <meta name="viewport" content="width=device-width",initial-scale="1", maximum-scale="1.0", user-scalable="no"/>
    <title>Search-Page</title>

    <link href="/webjars/materializecss/0.100.2/css/materialize.css"
          type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<section layout:fragment="content">
    <p>Page content goes here</p>
</section>

<script src="/webjars/jquery/2.1.4/jquery.js"></script>
<script src="/webjars/materializecss/0.100.2/js/materialize.js"></script>
</body>
</html>